      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */

        
      }


      #backgrounder {
   background: url("file:///Users/ithomas/Dev/webdesign/stanleycup/css/../img/StanleyCup_BG.jpeg") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;

    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 20px;

    width: 960px;
    height: 1600px;

      transform:rotate(-10deg);
      -ms-transform:rotate(-10deg); /* IE 9 */
      -webkit-transform:rotate(-10deg); /* Safari and Chrome */
      }



      a {
        color: inherit;
      }

      #content{
        margin-top: 50px;
        background-color:#fff;
        opacity:1;
        min-height: 1000px;
      

      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;

      }

      /* Set the fixed height of the footer here */
      #push {

        height: 60px;
      }

      footer {
        height: 600px;
        background-color: #333;
        color: #fff;
        font-size: 0.7em;
        padding-top: 20px;
      }



      footer ul{
        list-style: none;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }


      table {
  width: 100%;
  border: 1px solid #cef;
  text-align: left; }
th {
  font-weight: bold;
  background-color: #acf;
  border-bottom: 1px solid #cef; }
td,th {
  padding: 4px 5px; }

  .odd {
  background-color: #def; }
.odd td {
  border-bottom: 1px solid #cef; }


  #history {
    min-height: 1000px;
  }
